{% extends 'base.html.twig' %}

{% block title %}Fiche Jeu{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>
{% endblock %}
