{% extends 'base.html.twig' %}

{% block title %}recherche Jeux{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3 class="col-lg-4 cardTitreJeu">Fiche Jeu</h3>

        <div class="offset-lg-6 col-lg-2">
            <a  href="{{ path('ajouter_fiche_jeu') }}" class="btn btn-purple col-lg-12">Ajouter un jeu</a>
        </div>
    </div>
    <div class="borderPurple">

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                {{ resultJeuxHtml | raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
