{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Quelle table recherchez-vous?">
                </div>
                <div class="col">
                    <select class="form-control">
                        <option>Tous types de jeu</option>
                        <option>Jeu de rôle</option>
                        <option>Jeu de société</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Recherchert</button>
            </div>
            <div class="form-row">
                <input type="text" class="form-control" placeholder="Ville ou code Postal">
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}