#listeRegion
{
    list-style: none;
    font-weight: bold;
    text-align: right;
}
#listeRegion a
{
    color: #8052be;
}
#annonceBtn .btn
{
    width: 100%;
    border: 1px #8052be solid;
}
#tableBtn
{
    background-color:#8052be;
    color: white;
    margin-bottom: 20px;
}
#tableBtn:hover
{
    background-color: #6c39be;
}
#rechercheFranceBtn,#rechercheMoiBtn
{
    color:#8052be;
    margin-bottom: 10px;
}
#rechercheFranceBtn:hover,#rechercheMoiBtn:hover
{
    background-color: rgba(128, 82, 190, 0.31);
}
.regionSvg path:hover
{
    fill: #343a40;
    cursor: pointer;
}
#listeRegion a:hover
{
    color: #343a40!important;
    text-decoration: underline!important;
}
