.navbar
{
    margin-bottom: 10px;
}
.rollFooter
{
    background-color: #f7f7f7;
    margin-top: 10px;
    height: 100%;
}
.cardHeaderRoll
{
    background-color: #8052be;
    color: white;
}
.card
{
    margin-bottom: 10px;
}