.navbar
{
    margin-bottom: 10px;
}
.rollFooter
{
    background-color: #f7f7f7;
    margin-top: 10px;
    height: 100%;
}
.cardHeaderRoll
{
    background-color: #8052be;
    color: white;
}

.typeJeuFloat
{
    float: left;
}
.villeJeuFloat
{
    float: right;
    display: block;
}
.typeJeuFloat,.villeJeuFloat
{
    color: #343a40;
    font-weight: bold;
    margin-bottom: 0;

}
.card
{
    margin-bottom: 10px;
}
.cardTitreJeu
{
    color: #8052be;
}
.borderPurple
{
    border-bottom: 1px solid #8052be;
    width: 100%;
}
