{% extends 'base.html.twig' %}

{% block title %} Authentification {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="">
                    <h5 class="card-header cardHeaderRoll text-center">Dernières Tables</h5>
                    <div class="">
                        <div class="list-group">
                            <form class="demo" action="{{ path('auth') }}" method="POST">
                                <p>Try out Portier by entering your email address below:</p>
                                <input type=email name=email placeholder="you@example.com" />
                                <input type=submit value="Log In" />
                                <p><small><em>Try a Gmail and a non-Gmail address!</em></small></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
