    <div class="col-lg-12">
        <a href="#"  id="inscriptionBtn"class=" btn navbar-item btn-purple align-middle" >
            S'inscrire
        </a>
    </div>
    <div class="col-lg-12">
        <a href="{{ path('portier') }}" id="connectionBtn"class=" btn navbar-item btn-purple align-middle">
            Se connecter
        </a>
    </div>